# Ignore everything
*

# But not Java files
!*.java

# Ignore specific environments and tools
*.ts
*.html
*.js
*.map
node_modules/
dist/
build/

# Workspace and IDE settings (if not necessary)
workspace_astah/
workspace_eclipse/
workspace_vscode/
